 @font-face { font-family: Capture; src: url('Capture.ttf'); }

body{
    font-family: 'Capture';
    letter-spacing: 3px;
    font-size: 2.5vw;
    background: #22180F;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    background: black;
    color: white;
}

.summary {
    background-color: white;
    border: 5px solid red;
    text-align: center;
}

.artifacts {
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pic{
    display: flex;
    width: auto;
    height: 30vh;
    margin: 1.5%;
    border: 12px groove firebrick;
}

h1 {
    text-align: center;
    color: white;
}

.song {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #A37963;
}

.playcontrols{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}
.cover {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30vh;
    border: 10px groove white;
}
