 @font-face {
     font-family: Capture;
     src: url('Capture.ttf');
 }

 body {
     font-family: 'Capture';
     letter-spacing: 3px;
     font-size: 3vw;
     background: black;

 }

 .header {
     background: url(https://i.pinimg.com/originals/01/26/43/012643da41a7d4dbfcc6c67ac2ddd2b1.jpg);
     background-repeat: no-repeat;
     background-size: auto;
     padding-top: 1%;
     padding-bottom: 1%;
     text-shadow: 2px 2px 15px #000000;
     display: block;
     margin-left: 15%;
     margin-right: 15%;
 }

 .container {
     display: flex;
     flex-direction: column;
 }

 .summary {
     background: #0000FF;
     opacity: .8;
     border: 10px solid white;
     margin-left: 15%;
     margin-right: 15%;
     margin-top: 5%;
     margin-bottom: 5%;
     max-height: 30vh;

 }

 .artifacts {
     color: white;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .pic {
     display: flex;
     width: auto;
     height: 25vh;
     margin: 1.5%;
     border: 15px ridge turquoise;
     box-shadow: 10px 10px 50px darkorange;
 }

 h1 {
     text-align: center;
     color: white;
 }

 h2 {
     text-align: center;
     color: white;
 }

 .song {
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 5%;
     background-image: linear-gradient(#66FF99, #FFFF99);
     border: 10px solid #0066FF;
     width: 95vw;
 }
.music{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 .playcontrols {
     margin-left: auto;
     margin-right: auto;
 }

 .cover {
     margin-left: auto;
     margin-right: auto;
     max-width: 300px;
     max-height: 300px;
     border: 5px solid white;
     margin-bottom: 10px;
 }
 .albums {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin: 1%;
     background: black;
     padding: 20px;
     border: 5px solid white;
     max-width: 400px;
 }

 .play {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .summary:hover {
     opacity: 1;
 }

 .link-child {
     display: flex;
     justify-content: center;
 }

 .sum {
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-decoration: none;
     color: white;
 }

 .colombia {
     max-height: 10vh;
     min-width: 10vw;
     opacity: .5;
 }

 .bg {
     background-image: linear-gradient(orange, yellow);
     border: 10px solid firebrick;
     padding-top: 5%;
     padding-bottom: 5%;
 }

 .top {
     border: 10px solid white;
     background: linear-gradient(120deg, gold 66%, crimson 66%);
 }
h6{
        font-size: 2vh;
    text-align: center;
    margin-top: 10px;
    background: darkcyan;
    padding: 15px;
    border: 5px solid white;
}
.desc{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 400px;
}
h5{
    font-size: 3vh;
    text-align: center;
}
.comp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.ic{
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

